a:focus,
a:hover,
a:active {
  color: #007cc3;
}
.color-green {
  color: #007cc3;
}
a.read-more:hover {
  color: #007cc3;
}
.linked:hover {
  color: #007cc3;
}
/*Slider
------------------------------------*/
.da-slide h2 i {
  background: url(../../plugins/parallax-slider/img/bg-heading9.png) repeat;
}

i {}
/*Purchase
------------------------------------*/
.purchase a.btn-buy {
  background: #007cc3;
  text-shadow: 0 1px 0 #006caf;
}
.purchase a.btn-buy:hover {
  background: #0095e1;
}
/*Buttons
------------------------------------*/
.btn-u {
  background: #007cc3;
}
.btn-u:hover {
  background: #0095e1;
}
/*Service
------------------------------------*/
.service i {
  color: #007cc3;
}
/*Welcome Block*/
.servive-block .span4 h4 a:hover {
  color: #007cc3;
}
.servive-block .span4:hover h4,
.servive-block .span4:hover i {
  color: #007cc3;
}
.servive-block-in .span4 i {
  color: #007cc3;
}
/*Service Blocks*/
.service-alternative .service:hover {
  background: #007cc3;
}
/*Thumbnail (Recent Work)
------------------------------------*/
.thumbnail-style h3 a:hover {
  color: #007cc3;
}
.thumbnail-style a.btn-more {
  background: #007cc3;
}
.thumbnail-style a.btn-more:hover {
  box-shadow: 0 0 0 2px #377500;
}
/*Carousel (Recent Work)*/
.recent-work a:hover span {
  border-bottom: solid 2px #007cc3;
}
.bx-wrapper .bx-prev {
  background-image: url(../../plugins/bxslider/images/controls.png);
}
.bx-wrapper .bx-next {
  background-image: url(../../plugins/bxslider/images/controls.png);
}
/*Typography
------------------------------------*/
/*Heading*/
.headline h3,
.headline h4 {
  border-bottom: 2px solid #007cc3;
}
/*Blockquote*/
blockquote:hover {
  border-left-color: #007cc3;
}
.hero {
  border-left-color: #007cc3;
}
/*Carousel
------------------------------------*/
.carousel-arrow a.carousel-control:hover {
  color: #007cc3;
}
/*Footer
------------------------------------*/
.footer a,
.copyright a,
.footer a:hover,
.copyright a:hover {
  color: #007cc3;
}
/*Footer Blog*/
.footer .dl-horizontal a:hover {
  color: #007cc3 !important;
}
/*Blog Posts
------------------------------------*/
.posts .dl-horizontal:hover {
  border-right: solid 2px #007cc3;
}
.posts .dl-horizontal a:hover {
  color: #007cc3;
}
.posts .dl-horizontal:hover dt img,
.posts .dl-horizontal:hover dd a {
  color: #007cc3;
  border-color: #007cc3 !important;
}
/*Tabs
------------------------------------*/
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  background: #007cc3;
}
.nav-tabs > li > a:hover {
  background: #007cc3;
}
.tab-content {
  border-top: solid 2px #007cc3;
}
/*Accardion
------------------------------------*/
.acc-home a.active,
.acc-home a.accordion-toggle:hover {
  color: #007cc3;
}
.acc-home .collapse.in {
  border-bottom: solid 1px #007cc3;
}
/*Testimonials
------------------------------------*/
.testimonal-arrow a {
  color: #007cc3;
}
.testimonal-arrow a:hover {
  background: #007cc3 !important;
}
/*Breadcrumb
------------------------------------*/
.breadcrumb li.active,
.breadcrumb li a:hover {
  color: #007cc3;
}
/*About Page
------------------------------------*/
.team .thumbnail-style:hover h3 a {
  color: #007cc3 !important;
}
/*Social Icons*/
.team ul li i:hover {
  background: #007cc3;
}
/*Pricing Page
------------------------------------*/
/*Pricing Head*/
.pricing:hover h4 {
  color: #55c931;
}
.pricing-head h3 {
  background: #55c931;
  text-shadow: 0 1px 0 #32a20f;
  border-bottom: solid 1px #41b91c;
}
.pricing-head h4 {
  color: #999;
  background: #fbfef2;
  border-bottom: solid 1px #f5f9e7;
}
/*Pricing Content*/
.pricing-content li {
  border-bottom: solid 1px #f5f9e7;
}
.pricing-content li i {
  color: #007cc3;
}
/*Pricing Footer*/
.pricing-footer a,
.pricing-footer button {
  background: #007cc3;
  text-shadow: 0 1px 0 #38b312;
  border-bottom: solid 2px #41b91c;
}
.pricing-footer a:hover,
.pricing-footer button:hover {
  background: #40ba1a;
}
/*Priceing Active*/
.price-active h4 {
  color: #55c931;
}
.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
  color: #55c931;
}
/*Right Sidebar
------------------------------------*/
/*Right Sidebar*/
.who li i,
.who li:hover i,
.who li:hover a {
  color: #007cc3;
}
/*Privacy Page
------------------------------------*/
.privacy a:hover {
  color: #007cc3;
}
/*Portfolio Page
------------------------------------*/
.sort li a:hover {
  color: #007cc3;
  border-bottom: 1px dotted #007cc3;
}
.sort li a.selected {
  color: #007cc3;
  border-bottom: 1px solid #007cc3;
}
.view a.info:hover {
  background: #007cc3;
}
/*Blog Page
------------------------------------*/
.blog h3 {
  color: #007cc3;
}
.blog li a:hover {
  color: #007cc3;
}
/*Blog Tags*/
ul.blog-tags a:hover,
ul.blog-tags a:hover i {
  color: #007cc3;
}
/*Blog Ads*/
.blog-ads li img:hover {
  box-shadow: 0 0 0 4px #007cc3;
}
/*Blog Latest Tweets*/
.blog-twitter p a {
  color: #007cc3;
}
/*Blog Item Page
------------------------------------*/
.blog-item h4.media-heading span a {
  color: #007cc3;
}
/*Coming Soon Page
------------------------------------*/
.coming-soon-border {
  border-top: solid 3px #007cc3;
}
/*Search Page
------------------------------------*/
.booking-blocks p a {
  color: #007cc3;
}
/*Icons Page
------------------------------------*/
.icon-page li:hover {
  color: #007cc3;
}
/*Glyphicons*/
.glyphicons-demo a:hover {
  color: #007cc3;
  text-decoration: none;
}
.navbar .brand {
  margin-left: 45px;
}
#logo-header {
  width: 50%;
}
@media (max-width: 767px) {
  .navbar .brand {
    margin-left: 40px;
    font-size: 15px;
  }
  #logo-header {
    width: 45%;
  }
}

